body {
    font-family: "Open Sans", sans-serif;
    background-color: #141414;
    color: white;
  }
  
  .drpdwn{
    border: 2px white solid;
    background-color: #141414;
  }
  
  .section-title {
    display: inline-block;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
  }
  
  .netflix-badge {
    position: absolute;
    top: 0;
    left: 0.25rem;
    
  }
  
  a {
    color: #01a3db;
  }
  
  a:hover {
    color: #14b5eb;
  }
  
  footer {
    text-align: center;
    
  }
  
 
  
  footer ul {
    list-style: none;
  }
  footer ul li {
    
    margin-right: 0.5rem;
  }
  
  footer ul:last-of-type {
    color: rgba(255, 255, 255, 0.45);
  }
  
  
  
  .sub-nav{
    
    margin-left: 10px;
    margin-top: 15px;

  }
  .txt{color: white;}
  h3{
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
  }
  .fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    height: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: white;
    color: #141414;
    border: white solid;
    font-weight: bolder;
  }
  
  /* Twitter */
  .fa-twitter {
    background: white;
    color: #141414;
    border: white solid;
  }
  .instagram{
    background: white;
    color: #141414;
    border: white solid;
  }
  .youtube{
    background: white;
    color: #141414;
    border: white solid;
  }

  .table-dark{
    background-color: #141414;
    border: none;
  }